/*
 *Name: Marcus Quan
 *UnityID: mquan
 *Date: 11/17/2022
 *Assignment:  Webpages GL
 *Description: Guided lab assignment, about me webpage
 */
 
p {
    font-family:Times;
    font-size: 16px;
    color: #620000;
}

.table-border {
    border: 1px solid #620000;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
